.arina {
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center ;
   font-family: "oswald";
   text-align: center;
   font-size: 50px;
   flex-direction: column;
}
@font-face {
    font-family: "oswald" ;
    src: url(font/Oswald-VariableFont_wght.ttf);
}